.App {
  text-align: center;
 background-color: rgb(222, 218, 224);
}
.name{
  display: flex;
  justify-content: center;
  margin: 3%;
}
.navbar{
background-color: rgb(218, 224, 131) !important;
}
.img{
  display: flex;
  justify-content: space-around;
  align-items: center;
margin: 3%;

}
.card-body{
  display: flex;
  justify-content: space-around;
  background-color: rgb(218, 224, 131) !important;
  margin: 3%;
}
.cardbody{
  display: flex;
  flex-direction: column;
}
.footer{
  background-color: beige;
}
